<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>org.openstack.ui.server.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>identity</servlet-name>
		<servlet-class>org.openstack.ui.server.IdentityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>compute</servlet-name>
		<servlet-class>org.openstack.ui.server.ComputeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>keypair-download</servlet-name>
		<servlet-class>org.openstack.ui.server.KeyPairDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>identity</servlet-name>
		<url-pattern>/ui/identity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>compute</servlet-name>
		<url-pattern>/ui/compute</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>keypair-download</servlet-name>
		<url-pattern>/ui/keypair-download</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>login</welcome-file>
	</welcome-file-list>

</web-app>
