/* Page background color */
body {
    background-color: #FFFFFF;
    margin:0 auto;
    font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    font-size:12px;
    padding:0em 2em;
    color:#333;
 
 }
 
/* Common elements */
 
font {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit; }
 
hr {
  border: 0;
  color: #E6E7E8;
  background-color: #E6E7E8;
  height: 1px;
}
 
a { text-decoration: none; font-weight: bold }
 
a:link { color:#333; }
a:active { color:#222; }
a:visited { color:#111; }
a:hover { color:#000; }
 
 
/* Headings */
h1 {
    font-size: 145%;
    color:#182737;
    font-size:2em;
    padding:1.5em;
    margin-top: 0px;
    text-align:left;
}
 
 
/* Default Table elements and colors */
 
th, table { border-collapse:collapse; border-color: #E6E7E8; }
 
 
.TableHeadingColor     {
    background:#CF2F19;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
    height:31px;
    text-align:left;
    padding:1.5em;
}
 
.TableHeadingColor th {
    padding-left: 10px;
}
 
 
.TableSubHeadingColor  { background: #F5F5F5; border-color: #F1F1F1; }
.TableRowColor { background: #FFFFFF; border-color: #E6E7E8;}
.TableRowColor td { line-height: 175%; padding-left: 10px; border-color: #E6E7E8;}
 
/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 125%; font-family: Helvetica, Arial, sans-serif; font-weight: bold; margin-top: 1em; display: block; }
.FrameHeadingFont { font-size: 125%; font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif; font-weight: bold; margin-top: 1em; display: block;  }
.FrameItemFont    { font-size: 100%; font-family: Helvetica, Arial, sans-serif }
 
/* Navigation bar fonts and colors */
 
.NavBarCell1    {
	background-color: #F5F5F5;
    line-height:2em;
    padding-left:6px;
    padding-right:6px;
}
 
.NavBarFont1 {
    color: #444;
}
.NavBarCell1 a {
    color: #444;
}
 
.NavBarCell1Rev { background-color:#CF2F19; padding-left:6px; padding-right:6px; }
.NavBarFont1    { color:#444;}
.NavBarFont1Rev { color:#FFF;}
 
.NavBarCell2    { background-color:#FFFFFF;}
.NavBarCell3    { background-color:#FFFFFF;}